<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Peek Monitor Pi</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
 <main class="container">
     <h1>Peek Monitor Pi</h1>
     <section>
         <p>Temperatura: <span id="temperature"><%= temperature %></span> °C</p>
         <p>Ciśnienie: <span id="pressure"><%= pressure %></span> hPa</p>
         <p>Wilgotność: <span id="humidity"><%= humidity %></span> %</p>
         <p>Aktualizacja: <span id="updatedAt"></span></p>
         <div id="photo-container">
            <img id="photo" src="../public/photo.jpg" alt="photo">
         </div>
     </section>
 </main>
<footer>
    <script src="../public/scripts/refreshPage.js"></script>
    <script src="../public/scripts/refreshPhoto.js"></script>
</footer>
</body>
</html>
