<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8" />
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Peek Monitor Pi</title>
    <link rel="stylesheet" href="../css/style.css" />
</head>
<body>
<main class="container">
    <div id="photo-container" class="photo-container">
        <img class="photo" id="photo" src="../public/photo.jpg" alt="photo" />
    </div>
    <article class="charts-container">
        <section class="chart-container">
            <p>
                Ciśnienie:
                <span id="pressure"><%= parseFloat(pressure).toFixed(2) %></span>
                hPa
            </p>
            <canvas id="pressureChart"></canvas>
        </section>
        <section class="chart-container">
            <p>
                Temperatura: <span id="temperature"><%= temperature %></span> °C
            </p>
            <canvas id="temperatureChart"></canvas>
        </section>
        <section class="chart-container">
            <p>
                Wilgotność:
                <span id="humidity"><%= parseFloat(humidity).toFixed(2) %></span> %
            </p>
            <canvas id="humidityChart"></canvas>
        </section>
    </article>
</main>
<footer class="footer-container">
    <p>Aktualizacja: <span id="updatedAt"></span></p>
    <script src="../scripts/charts/chartsLibDist.js"></script>
    <script src="../scripts/refreshPage.js"></script>
    <script src="../scripts/refreshPhoto.js"></script>
    <script src="../scripts/charts/temperatureChart.js"></script>
</footer>
</body>
</html>
